<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Opinografica</title>
  <link rel="icon" sizes="32x32" href="favicons/favicon-32x32.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
  <link rel="manifest" href="favicons/manifest.json">
  <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#000000">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

  <link rel="stylesheet" href="css/normalize.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/recaptcha.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
  <header>
    <section id="menuRedes" class="container">
      <div id="hamburger" onclick="menuOpen()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

      <a href="/"> <img src="img/icons/logo.png" alt="opino-grafica" class="logoMenu"> </a>

      <div id="menu">
        <div class="publicidad">
          <div class="title">
            <i class="icon"></i>
            <h2>Publicidad impresa</h2>
          </div>
          <hr class="line">
        </div>

        <div class="papeleria">
          <div class="title">
            <i class="icon"></i>
            <h2>Papelería comercial</h2>
          </div>
          <hr class="line">
        </div>

        <div class="publicaciones">
          <div class="title">
            <i class="icon"></i>
            <h2>Publicaciones</h2>
          </div>
          <hr class="line">
        </div>
        <div class="contactenos">
          <div class="title">
            <i class="icon"></i>
            <h2 class="btnContatecnos">Contáctenos</h2>
          </div>
          <hr class="line">
        </div>
      </div>
      <!-- Fin class menu -->

      <ul class="redes">
        <li class="facebook">
          <a href="#facebook">
            <aside class="fondo"></aside>
          </a>
        </li>
        <li class="twitter">
          <a href="#twitter">
            <aside class="fondo"></aside>
          </a>
        </li>
        <li class="instagram">
          <a href="#instagram">
            <aside class="fondo"></aside>
          </a>
        </li>
        <li class="youtube">
          <a href="#youtube">
            <aside class="fondo"></aside>
          </a>
        </li>
      </ul>
    </section>
  </header>

  {{{ body }}}
  
  <hr class="divisor">
  <footer id="contactenos">
    <section class="footer container">
      <h2>Contáctenos</h2>
      <div class="logos">
        <img src="img/mapa.png" alt="mapa" class="mapa">
        <span class="dir"><p>Av. 4 No. 16-48 B. La Playa Cúcuta, Colombia</p></span>
        <a href="tel:+575710632">
          <span class="tel"><p>Conmutador: <br> (+57) (7) 571 0632</p></span>
        </a>
        <a href="mailto:administracion@opinografica.com?Subject=Hola%20again" target="_top">
          <span class="mess"><p>administracion@opinografica.com</p></span>
        </a>
      </div>
      <div id="formulario">
        <form id="formContacto" method="post">
          <div class="campo">
            <label for="nombre">Nombre completo*</label>
            <input type="text" id="nombre" name="nombre">
          </div>
          <div class="campo">
            <label for="pais">País & ciudad*</label>
            <input type="text" id="pais" name="pais">
          </div>
          <div class="campo">
            <label for="correo">Correo electrónico*</label>
            <input type="email" id="correo" name="correo">
          </div>
          <div class="campo">
            <label for="mensaje">Mensaje</label>
            <textarea id="mensaje" rows="8" cols="8" name="mensaje"></textarea>
          </div>
          
          <div id='recaptcha' class="g-recaptcha"
            data-sitekey="6Lel-zcUAAAAAOzn8rxELLujDY-30FL8qr_LaXIW"
            data-callback="onSubmit"
            data-size="invisible"></div>
          <aside id="error"></aside>
          <button id="enviar">Enviar</button>
        </form>
      </div>
      <div class="spinner"></div>
      <aside class="mensajeEnviado"></aside>
      <p class="text">
        OPINOGRÁFICA IMPRESORES S. A. - Av. 4 No. 16 - 48 B. La Playa. Cúcuta, Colombia. Teléfono (+57) (7) 5710632 – Copyright © 2001 - 2017 Opinográfica Impresores S.A. - Todos los Derechos Reservados 
      </p>
    </section>
  </footer>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>
