<section id="sectionOne" class="container">
  <div id="logoP">
    <aside class="sombra"></aside>
    <aside id="ruedaColores"></aside>
  </div>

  <article class="text">
    <h2>Acerca de  <strong>nosotros?</strong></h2>
    <p>
      Somos una empresa industrial dedicada a las artes gráficas, ubicada en San José de Cúcuta, Colombia; con más de 40 años de trayectoria, en los que hemos hecho acompañamiento del desarrollo regional, nacional y fronterizo colombo venezolano. Formamos parte del grupo de empresas de La Opinión S. A. y Viviendas y Valores S. A., las cuales respaldan nuestra solidez.
      <br>
      Contamos con un excelente equipo humano y técnico, el cual ponemos a su disposición para el desarrollo de sus ideas, materializándolas en Libros, Revistas, Periódicos, Catálogos, Brochures, Afiches, Volantes, Documentos empresariales, Formas Continuas… en un proceso que va desde el diseño, pasando por la preprensa, impresión y acabados, hasta la entrega de su producto terminado.

    </p>
  </article>
</section>

<section id="sectionTwo">
  <div class="container typeProducts">
    <div class="publicidad">
      <i class="icon"></i>
      <h3>Publicidad impresa</h3>
      <ul class="list">
        <li class="one">Volantes</li>
        <li class="two">Plegables</li>
        <li class="three">Afiches</li>
        <li class="four">Catálogos</li>
        <li class="five">Brochures</li>
        <li class="six">Adhesivos</li>
        <li class="seven">Piezas troqueladas</li>
        <li class="eight">Calendarios</li>
        <li class="nine">Otros</li>
      </ul>
    </div>
    <div class="papeleria">
      <i class="icon"></i>
      <h3>Papelería comercial</h3>
      <ul class="list">
        <li class="one">Hojas membretes</li>
        <li class="two">Facturas</li>
        <li class="three">Recibos</li>
        <li class="four">Tarjetas de presentación</li>
        <li class="five">Remisiones</li>
        <li class="six">Documentos Empresariales</li>
        <!-- <li class="seven"></li> -->
        <li class="eight">Recetarios médicos</li>
        <li class="nine">Carpetas</li>
        <li class="ten">Sobres</li>
        <li class="eleven">Formas continuas</li>
        <li class="twelve">Tarjetas especiales</li>
      </ul>
    </div>
    <div class="publicaciones">
      <i class="icon"></i>
      <h3>Publicaciones</h3>
      <ul class="list">
        <li class="one">Folletos</li>
        <li class="two">Revistas</li>
        <li class="three">Libros pasta rústica o pasta dura</li>
        <li class="four">Anuarios</li>
        <li class="five">Manuales</li>
        <li class="six">Periódicos</li>
        <li class="seven">Agendas</li>
        <li class="eight">Separatas</li>
      </ul>
    </div>
  </div>
</section>

<section id="sectionThree" class="container">
  <article class="text">
    <h2>NUESTROS <strong>PRODUCTOS?</strong></h2>
    <p>
      Contamos con tecnología moderna y procesos de producción editorial acordes a las nuevas tendencias. Ofrecemos los mejores servicios de comunicación gráfica, con nuestro personal altamente calificado, que facilita el excelente manejo de su imagen corporativa, desde el diseño hasta la entrega de su producto terminado.
    </p>
  </article>
  <div id="productos">
    <div class="row-1">
      <aside id="cotizar"><i class="icon">$</i><a href="cotizar">Cotice Aquí</a></aside>
      <img onmouseout="textoOriginal('Agendas', 1)" onmouseover="texto('Agendas', 1)" class="img-1" src="img/Agendas/Agenda_1.png" alt="agenda-1">
      <img onmouseout="textoOriginal('Agendas', 1)" onmouseover="texto('Agendas', 1)" class="img-2" src="img/Agendas/Agenda_2.png" alt="agenda-2">
      <img onmouseout="textoOriginal('Agendas', 1)" onmouseover="texto('Agendas', 1)" class="img-3" src="img/Agendas/Agenda_3.png" alt="agenda-3">
      <div class="titleAgendas">Agendas</div>
    </div>
    <div class="row-2">
      <aside id="cotizar"><i class="icon">$</i><a href="/cotizar">Cotice Aquí</a></aside>
      <img onmouseout="textoOriginal('Anuarios', 2)" onmouseover="texto('Anuarios', 2)" class="img-1" src="img/Anuarios/Anuario_1.png" alt="anuarios-1">
      <img onmouseout="textoOriginal('Anuarios', 2)" onmouseover="texto('Anuarios', 2)" class="img-2" src="img/Anuarios/Anuario_2.png" alt="anuarios-2">
      <img onmouseout="textoOriginal('Anuarios', 2)" onmouseover="texto('Anuarios', 2)" class="img-3" src="img/Anuarios/Anuario_3.png" alt="anuarios-3">
      <div class="titleAnuarios">Anuarios</div>
    </div>
    <div class="row-3">
      <aside id="cotizar"><i class="icon">$</i><a href="/cotizar">Cotice Aquí</a></aside>
      <div class="flechaProductosLeft" onclick="leftImg(this)" data-row="3"></div>
      <img onmouseout="textoOriginal('Calendarios', 3)" onmouseover="texto('Calendarios', 3)" class="img-1" src="img/Calendario/Calendario_1.png" alt="Calendarios-1">
      <img onmouseout="textoOriginal('Calendarios 1', 3)" onmouseover="texto('Calendarios', 3)" class="img-2" src="img/Calendario/Calendario_2.png" alt="Calendarios-2">
      <img onmouseout="textoOriginal('Calendarios', 3)" onmouseover="texto('Calendarios', 3)" class="img-3" src="img/Calendario/Calendario_3.png" alt="Calendarios-3">
      <img onmouseout="textoOriginal('Calendarios', 3)" onmouseover="texto('Calendarios', 3)" class="img-3" src="img/Calendario/Calendario_5.png" alt="Calendarios-4">
      <div class="titleCalendarios">Calendarios</div>
      <div class="flechaProductosRight" onclick="rightImg(this)" data-row="3"></div>
    </div>
    <div class="row-4">
      <aside id="cotizar"><i class="icon">$</i><a href="/cotizar">Cotice Aquí</a></aside>
      <div class="flechaProductosLeft" onclick="leftImg(this)" data-row="4"></div>
      <img onmouseout="textoOriginal('Carpetas', 4)" onmouseover="texto('Carpetas', 4)" class="img-1" src="img/Carpetas/Carpeta_Edi-1.png" alt="carpeta-1">
      <img onmouseout="textoOriginal('Carpetas', 4)" onmouseover="texto('Carpetas', 4)" class="img-2" src="img/Carpetas/Carpeta_Edi-2.png" alt="catalago-2">
      <img onmouseout="textoOriginal('Carpetas', 4)" onmouseover="texto('Carpetas', 4)" class="img-3" src="img/Carpetas/Carpeta_Edi-3.png" alt="catalogo-3">
      <img onmouseout="textoOriginal('Carpetas', 4)" onmouseover="texto('Carpetas', 4)" class="img-3" src="img/Carpetas/Carpeta_Edi-4.png" alt="catalogo-4">
      <div class="titleCarpetas">Carpetas</div>
      <div class="flechaProductosRight" onclick="rightImg(this)" data-row="4"></div>
    </div>
    <div class="row-5">
      <aside id="cotizar"><i class="icon">$</i><a href="/cotizar">Cotice Aquí</a></aside>
      <div class="flechaProductosLeft" onclick="leftImg(this)" data-row="5" data-click="0"></div>
      <img onmouseout="textoOriginal('Revistas', 5)" onmouseover="texto('Revistas', 5)" class="img-1" src="img/Revistas/Revista 1.png" alt="Revistas-1">
      <img onmouseout="textoOriginal('Revistas', 5)" onmouseover="texto('Revistas', 5)" class="img-2" src="img/Revistas/Revista-2.png" alt="Revistas-2">
      <img onmouseout="textoOriginal('Revistas', 5)" onmouseover="texto('Revistas', 5)" class="img-3" src="img/Revistas/Revista-3.png" alt="Revistas-3">
      <img onmouseout="textoOriginal('Revistas', 5)" onmouseover="texto('Revistas', 5)" class="img-3" src="img/Revistas/Revista-4.png" alt="Revistas-4">
      <img onmouseout="textoOriginal('Revistas', 5)" onmouseover="texto('Revistas', 5)" class="img-3" src="img/Revistas/Revista-5.png" alt="Revistas-5">        
      <img onmouseout="textoOriginal('Revistas', 5)" onmouseover="texto('Revistas', 5)" class="img-3" src="img/Revistas/Revista-6.png" alt="Revistas-6">
      <img onmouseout="textoOriginal('Revistas', 5)" onmouseover="texto('Revistas', 5)" class="img-3" src="img/Revistas/Revista-7.png" alt="Revistas-7">     
      <div class="titleRevistas">Revistas</div>
      <div class="flechaProductosRight" onclick="rightImg(this)" data-row="5" data-click="0"></div>
    </div>
    <div class="row-6">
      <aside id="cotizar"><i class="icon">$</i><a href="/cotizar">Cotice Aquí</a></aside>
      <div class="flechaProductosLeft" onclick="leftImg(this)" data-row="6" data-click="0"></div>
      <img onmouseout="textoOriginal('Hojas membretadas', 6)" onmouseover="texto('Hojas membretadas', 6)" class="img-1" src="img/HojasMembretadas/Membretada_1.png" alt="Hojas menbretadas-1">
      <img onmouseout="textoOriginal('Hojas membretadas', 6)" onmouseover="texto('Hojas membretadas', 6)" class="img-2" src="img/HojasMembretadas/Membretada_2.png" alt="Hojas menbretadas-2">
      <img onmouseout="textoOriginal('Hojas membretadas', 6)" onmouseover="texto('Hojas membretadas', 6)" class="img-3" src="img/HojasMembretadas/Membretada_3.png" alt="Hojas menbretadas-3">
      <img onmouseout="textoOriginal('Hojas membretadas', 6)" onmouseover="texto('Hojas membretadas', 6)" class="img-3" src="img/HojasMembretadas/Membretada_4.png" alt="Hojas menbretadas-4">
      <img onmouseout="textoOriginal('Hojas membretadas', 6)" onmouseover="texto('Hojas membretadas', 6)" class="img-3" src="img/HojasMembretadas/Membretada_5.png" alt="Hojas menbretadas-5">
      <img onmouseout="textoOriginal('Hojas membretadas', 6)" onmouseover="texto('Hojas membretadas', 6)" class="img-3" src="img/HojasMembretadas/Membretada_6.png" alt="Hojas menbretadas-6">
      <img onmouseout="textoOriginal('Hojas membretadas', 6)" onmouseover="texto('Hojas membretadas', 6)" class="img-3" src="img/HojasMembretadas/Membretada_7.png" alt="Hojas menbretadas-7">
      <div class="titleMembretada">Hojas membretadas</div>
      <div class="flechaProductosRight" onclick="rightImg(this)" data-row="6" data-click="0"></div>
    </div>
    <div class="row-7">
      <aside id="cotizar"><i class="icon">$</i><a href="/cotizar">Cotice Aquí</a></aside>
      <div class="flechaProductosLeft" onclick="leftImg(this)" data-row="7"></div>
      <section class="translate">
        <img onmouseout="textoOriginal('Libros', 7)" onmouseover="texto('Libros', 7)" class="img-1" src="img/Libros/Libro_1.png" alt="Libros-1">
        <img onmouseout="textoOriginal('Libros', 7)" onmouseover="texto('Libros', 7)" class="img-2" src="img/Libros/Libro_2.png" alt="Libros-2">
        <img onmouseout="textoOriginal('Libros', 7)" onmouseover="texto('Libros', 7)" class="img-3" src="img/Libros/Libro_3.png" alt="Libros-3">
        <img onmouseout="textoOriginal('Libros', 7)" onmouseover="texto('Libros', 7)" class="img-3" src="img/Libros/Libro_4.png" alt="Libros-4">
        <img onmouseout="textoOriginal('Libros', 7)" onmouseover="texto('Libros', 7)" class="img-3" src="img/Libros/Libro_5.png" alt="Libros-5">
      </section>
      <div class="titleLibros">Libros</div>
      <div class="flechaProductosRight" onclick="rightImg(this)" data-row="7"></div>
    </div>
    <div class="row-8">
      <aside id="cotizar"><i class="icon">$</i><a href="/cotizar">Cotice Aquí</a></aside>
      <div class="flechaProductosLeft" onclick="leftImg(this)" data-row="8"></div>
      <img onmouseout="textoOriginal('Formas continuas', 8)" onmouseover="texto('Formas continuas', 8)" class="img-1" src="img/Miselaneas/Mise_1.png" alt="Otros-1">
      <img onmouseout="textoOriginal('Formas continuas', 8)" onmouseover="texto('Boletas', 8)" class="img-2" src="img/Miselaneas/Mise_2.png" alt="Otros-2">
      <img onmouseout="textoOriginal('Formas continuas', 8)" onmouseover="texto('Escarapelas', 8)" class="img-3" src="img/Miselaneas/Mise_3.png" alt="Otros-3">
      <img onmouseout="textoOriginal('Formas continuas', 8)" onmouseover="texto('Certificados', 8)" class="img-3" src="img/Miselaneas/Mise_4.png" alt="Otros-4">
      <div class="titleMiselaneas">Formas continuas</div>
      <div class="flechaProductosRight" onclick="rightImg(this)" data-row="8"></div>
    </div>
    <div class="row-9">
      <aside id="cotizar"><i class="icon">$</i><a href="/cotizar">Cotice Aquí</a></aside>
      <div class="flechaProductosLeft" onclick="leftImg(this)" data-row="9" data-click="0"></div>
      <section class="translate">
        <img onmouseout="textoOriginal('Periodicos', 9)" onmouseover="texto('Periodicos', 9)" class="img-1" src="img/periodicos/DSC_2543.png">
        <img onmouseout="textoOriginal('Periodicos', 9)" onmouseover="texto('Periodicos', 9)" class="img-2" src="img/periodicos/DSC_3145.png" alt="Periodicos-2">
        <img onmouseout="textoOriginal('Periodicos', 9)" onmouseover="texto('Periodicos', 9)" class="img-3" src="img/periodicos/DSC_3146.png" alt="Periodicos-3">
        <img onmouseout="textoOriginal('Periodicos', 9)" onmouseover="texto('Periodicos', 9)" class="img-3" src="img/periodicos/DSC_3149.png" alt="Periodicos-4">
        <img onmouseout="textoOriginal('Periodicos', 9)" onmouseover="texto('Periodicos', 9)" class="img-3" src="img/periodicos/DSC_3150.png" alt="Periodicos-5">
        <img onmouseout="textoOriginal('Periodicos', 9)" onmouseover="texto('Periodicos', 9)" class="img-3" src="img/periodicos/DSC_3152.png" alt="Periodicos-6">
        <img onmouseout="textoOriginal('Periodicos', 9)" onmouseover="texto('Periodicos', 9)" class="img-3" src="img/periodicos/DSC_3166.png" alt="Periodicos-7">
        <img onmouseout="textoOriginal('Periodicos', 9)" onmouseover="texto('Periodicos', 9)" class="img-3" src="img/periodicos/DSC_3169.png" alt="Periodicos-8">
        <img onmouseout="textoOriginal('Periodicos', 9)" onmouseover="texto('Periodicos', 9)" class="img-3" src="img/periodicos/DSC_3171.png" alt="Periodicos-9">
      </section>
      <div class="titlePeriodicos">Periodicos</div>
      <div class="flechaProductosRight" onclick="rightImg(this)" data-row="9" data-click="0"></div>
    </div>
    <div class="row-10">
      <aside id="cotizar"><i class="icon">$</i><a href="/cotizar">Cotice Aquí</a></aside>
      <!-- <div class="flechaProductosLeft" onclick="leftImg(this)" data-row="10"></div> -->
      <img onmouseout="textoOriginal('Separatas', 10)" onmouseover="texto('Separatas', 10)" class="img-1" src="img/Separatas/DSC_2551.png">
      <img onmouseout="textoOriginal('Separatas', 10)" onmouseover="texto('Separatas', 10)" class="img-2" src="img/Separatas/DSC_3137.png" alt="Separatas-2">
      <img onmouseout="textoOriginal('Separatas', 10)" onmouseover="texto('Separatas', 10)" class="img-3" src="img/Separatas/DSC_3139.png" alt="Separatas-3">
      <div class="titleSeparatas">Separatas</div>
      <!-- <div class="flechaProductosRight" onclick="rightImg(this)" data-row="10"></div> -->
    </div>
    <div class="row-11">
      <aside id="cotizar"><i class="icon">$</i><a href="/cotizar">Cotice Aquí</a></aside>
      <div class="flechaProductosLeft" onclick="leftImg(this)" data-row="11"></div>
      <section class="translate"> 
        <img onmouseout="textoOriginal('Piezas troqueladas', 11)" onmouseover="texto('Piezas troqueladas', 11)" class="img-1" src="img/Troqueladas/DSC_2243.png">
        <img onmouseout="textoOriginal('Piezas troqueladas', 11)" onmouseover="texto('Piezas troqueladas', 11)" class="img-2" src="img/Troqueladas/DSC_2268.png" alt="Piezas troqueladas-2">
        <img onmouseout="textoOriginal('Piezas troqueladas', 11)" onmouseover="texto('Piezas troqueladas', 11)" class="img-3" src="img/Troqueladas/DSC_2271.png" alt="Piezas troqueladas-3">
        <img onmouseout="textoOriginal('Piezas troqueladas', 11)" onmouseover="texto('Piezas troqueladas', 11)" class="img-3" src="img/Troqueladas/DSC_2282.png" alt="Piezas troqueladas-3">
        <img onmouseout="textoOriginal('Piezas troqueladas', 11)" onmouseover="texto('Piezas troqueladas', 11)" class="img-3" src="img/Troqueladas/DSC_2283.png" alt="Piezas troqueladas-3">
        <img onmouseout="textoOriginal('Piezas troqueladas', 11)" onmouseover="texto('Piezas troqueladas', 11)" class="img-3" src="img/Troqueladas/DSC_3047.png" alt="Piezas troqueladas-3">
      </section>
      <div class="titleTroqueladas">Piezas troqueladas</div>
      <div class="flechaProductosRight" onclick="rightImg(this)" data-row="11"></div>
    </div>
    <div class="row-12">
      <aside id="cotizar"><i class="icon">$</i><a href="/cotizar">Cotice Aquí</a></aside>
      <div class="flechaProductosLeft" onclick="leftImg(this)" data-row="12" data-click="0"></div>
      <section class="translate">
        <img onmouseout="textoOriginal('Plegables', 12)" onmouseover="texto('Plegables', 12)" class="img-1" src="img/Plegables/DSC_2260.png">
        <img onmouseout="textoOriginal('Plegables', 12)" onmouseover="texto('Plegables', 12)" class="img-2" src="img/Plegables/DSC_2261.png" alt="Plegables-2">
        <img onmouseout="textoOriginal('Plegables', 12)" onmouseover="texto('Plegables', 12)" class="img-3" src="img/Plegables/DSC_2264.png" alt="Plegables-3">
        <img onmouseout="textoOriginal('Plegables', 12)" onmouseover="texto('Plegables', 12)" class="img-3" src="img/Plegables/DSC_2275.png" alt="Plegables-4">
        <img onmouseout="textoOriginal('Plegables', 12)" onmouseover="texto('Plegables', 12)" class="img-3" src="img/Plegables/DSC_2277.png" alt="Plegables-5">
        <img onmouseout="textoOriginal('Plegables', 12)" onmouseover="texto('Plegables', 12)" class="img-3" src="img/Plegables/DSC_2279.png" alt="Plegables-6">
        <img onmouseout="textoOriginal('Plegables', 12)" onmouseover="texto('Plegables', 12)" class="img-3" src="img/Plegables/DSC_2635.png" alt="Plegables-7">
        <img onmouseout="textoOriginal('Plegables', 12)" onmouseover="texto('Plegables', 12)" class="img-3" src="img/Plegables/DSC_2636.png" alt="Plegables-8">
        <img onmouseout="textoOriginal('Plegables', 12)" onmouseover="texto('Plegables', 12)" class="img-3" src="img/Plegables/DSC_2640.png" alt="Plegables-9">
      </section>
      <div class="titlePlegables">Plegables</div>
      <div class="flechaProductosRight" onclick="rightImg(this)" data-row="12" data-click="0"></div>
    </div>
    <div class="row-13">
      <aside id="cotizar"><i class="icon">$</i><a href="/cotizar">Cotice Aquí</a></aside>
      <div class="flechaProductosLeft" onclick="leftImg(this)" data-row="13" data-click="0"></div>
      <section class="translate">
        <img onmouseout="textoOriginal('Tarjetas', 13)" onmouseover="texto('Tarjetas', 13)" class="img-1" src="img/Tarjetas/HG_GESTORIA_1.png">
        <img onmouseout="textoOriginal('Tarjetas', 13)" onmouseover="texto('Tarjetas', 13)" class="img-2" src="img/Tarjetas/INMOBILIARIA-TONCHALA.png" alt="Tarjetas-2">
        <img onmouseout="textoOriginal('Tarjetas', 13)" onmouseover="texto('Tarjetas', 13)" class="img-3" src="img/Tarjetas/LA-OPINION.png" alt="Tarjetas-3">
        <img onmouseout="textoOriginal('Tarjetas', 13)" onmouseover="texto('Tarjetas', 13)" class="img-3" src="img/Tarjetas/MA-PEÑALOSA.png" alt="Tarjetas-4">
        <img onmouseout="textoOriginal('Tarjetas', 13)" onmouseover="texto('Tarjetas', 13)" class="img-3" src="img/Tarjetas/melissa-guerrero.png" alt="Tarjetas-5">
        <img onmouseout="textoOriginal('Tarjetas', 13)" onmouseover="texto('Tarjetas', 13)" class="img-3" src="img/Tarjetas/PAISAJE-URBANO.png" alt="Tarjetas-6">
      </section>
      <div class="titleTarjetas">Tarjetas</div>
      <div class="flechaProductosRight" onclick="rightImg(this)" data-row="13" data-click="0"></div>
    </div>
    <div class="row-14">
      <aside id="cotizar"><i class="icon">$</i><a href="/cotizar">Cotice Aquí</a></aside>
      <div class="flechaProductosLeft" onclick="leftImg(this)" data-row="14" data-click="0"></div>
      <img onmouseout="textoOriginal('Volantes', 14)" onmouseover="texto('Volantes', 14)" class="img-1" src="img/Volantes/DSC_2638.png">
      <img onmouseout="textoOriginal('Volantes', 14)" onmouseover="texto('Volantes', 14)" class="img-2" src="img/Volantes/DSC_2651.png" alt="Volantes-2">
      <img onmouseout="textoOriginal('Volantes', 14)" onmouseover="texto('Volantes', 14)" class="img-3" src="img/Volantes/DSC_2654.png" alt="Volantes-3">
      <img onmouseout="textoOriginal('Volantes', 14)" onmouseover="texto('Volantes', 14)" class="img-3" src="img/Volantes/DSC_2655.png" alt="Volantes-4">
      <div class="titleVolantes">Volantes</div>
      <div class="flechaProductosRight" onclick="rightImg(this)" data-row="14" data-click="0"></div>
    </div>
  </div>
</section>

<section id="sectionFour" class="container">
  <div class="sombraLeft"></div>
  <article class="text">
    <h2>GALERÍA <strong>OPINOGRÁFICA</strong></h2>
  </article>
  <div id="galeria">
    <img class="img" src="img/galeria/Foto_1.jpg" alt="equipo-1">
    <img class="img" src="img/galeria/Foto_2.jpg" alt="equipo-2">
    <img class="img" src="img/galeria/Foto_3.jpg" alt="equipo-3">
    <img class="img" src="img/galeria/Foto_4.jpg" alt="equipo-4">
    <img class="img" src="img/galeria/Foto_5.jpg" alt="equipo-5">
    <img class="img" src="img/galeria/Foto_6.jpg" alt="equipo-6">
    <img class="img" src="img/galeria/Foto_7.jpg" alt="equipo-7">
    <img class="img" src="img/galeria/Foto_8.jpg" alt="equipo-8">
  </div>
  <div id="galeriaMovil">
    <img class="mySlides" src="img/galeria/Foto_1.jpg" alt="equipo-1">
    <img class="mySlides" src="img/galeria/Foto_2.jpg" alt="equipo-2">
    <img class="mySlides" src="img/galeria/Foto_3.jpg" alt="equipo-3">
    <img class="mySlides" src="img/galeria/Foto_4.jpg" alt="equipo-4">
    <img class="mySlides" src="img/galeria/Foto_5.jpg" alt="equipo-5">
    <img class="mySlides" src="img/galeria/Foto_6.jpg" alt="equipo-6">
    <img class="mySlides" src="img/galeria/Foto_7.jpg" alt="equipo-7">
    <img class="mySlides" src="img/galeria/Foto_8.jpg" alt="equipo-8">
    <button class="btn-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="btn-right" onclick="plusDivs(+1)">&#10095;</button>
  </div>
  <div class="sombraRight"></div>
  <div class="btnGirar" onclick="girar()" data-pixel="-200" data-porce="0" data-sentido="0"></div>
  <div class="textBtnGirar"></div>
</section>

<script text="text/javascript">
  let slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
      let i;
      let x = document.getElementsByClassName('mySlides');

      if (n > x.length) {
        slideIndex = 1;
      } 

      if (n < 1) {
        slideIndex = x.length;
      }

      for (i = 0; i < x.length; i++) {
        x[i].style.display = 'none'; 
      }
      x[slideIndex-1].style.display = 'block';
  }

  // function scrollIt(element) {  
  //   window.scrollTo({
  //     'behavior': 'smooth',
  //     'left': 0,
  //     'top': element.offsetTop
  //   });
  // }
  
  const btnVolantes = document.querySelector('#sectionTwo .typeProducts .publicidad .one');
  const btnPlegables = document.querySelector('#sectionTwo .typeProducts .publicidad .two');
  const btnTroqueladas = document.querySelector('#sectionTwo .typeProducts .publicidad .seven');
  const btnCalendarios = document.querySelector('#sectionTwo .typeProducts .publicidad .eight');
  const btnOtros = document.querySelector('#sectionTwo .typeProducts .publicidad .nine');
  const btnAgendas = document.querySelector('#sectionTwo .typeProducts .publicaciones .seven');
  const btnAnuarios = document.querySelector('#sectionTwo .typeProducts .publicaciones .four');
  const btnRevistas = document.querySelector('#sectionTwo .typeProducts .publicaciones .two');
  const btnLibros = document.querySelector('#sectionTwo .typeProducts .publicaciones .three');
  const btnPeriodicos = document.querySelector('#sectionTwo .typeProducts .publicaciones .six');
  const btnSeparatas = document.querySelector('#sectionTwo .typeProducts .publicaciones .eight');
  const btnCarpetas = document.querySelector('#sectionTwo .typeProducts .papeleria .nine');
  const btnMembretadas = document.querySelector('#sectionTwo .typeProducts .papeleria .one');
  const btnTarjetas = document.querySelector('#sectionTwo .typeProducts .papeleria .four');

  const seccionVolantes = document.querySelector('#sectionThree #productos .row-14');
  const seccionPlegables = document.querySelector('#sectionThree #productos .row-12');
  const seccionTroqueladas = document.querySelector('#sectionThree #productos .row-11');
  const seccionCalendarios = document.querySelector('#sectionThree #productos .row-3');
  const seccionAgendas = document.querySelector('#sectionThree #productos .row-1');
  const seccionAnuarios = document.querySelector('#sectionThree #productos .row-2');
  const seccionCarpetas = document.querySelector('#sectionThree #productos .row-4');
  const seccionRevistas = document.querySelector('#sectionThree #productos .row-5');
  const seccionMembretadas = document.querySelector('#sectionThree #productos .row-6');
  const seccionLibros = document.querySelector('#sectionThree #productos .row-7');
  const seccionPeriodicos = document.querySelector('#sectionThree #productos .row-9');
  const seccionTarjetas = document.querySelector('#sectionThree #productos .row-13');
  const seccionOtros = document.querySelector('#sectionThree #productos .row-8');
  const seccionSeparatas = document.querySelector('#sectionThree #productos .row-10');

  btnVolantes.addEventListener('click', () => {
    // La funcion scrollIt esta en el script.js
    scrollIt(seccionVolantes);
  });

  btnPlegables.addEventListener('click', () => {
    scrollIt(seccionPlegables);
  });

  btnTroqueladas.addEventListener('click', () => {
    scrollIt(seccionTroqueladas);
  });

  btnCalendarios.addEventListener('click', () => {
    scrollIt(seccionCalendarios);
  });

  btnAgendas.addEventListener('click', () => {
    scrollIt(seccionAgendas);
  });

  btnAnuarios.addEventListener('click', () => {
    scrollIt(seccionAnuarios);
  });

  btnCarpetas.addEventListener('click', () => {
    scrollIt(seccionCarpetas);
  });

  btnRevistas.addEventListener('click', () => {
    scrollIt(seccionRevistas);
  });

  btnMembretadas.addEventListener('click', () => {
    scrollIt(seccionMembretadas);
  });

  btnLibros.addEventListener('click', () => {
    scrollIt(seccionLibros);
  });

  btnPeriodicos.addEventListener('click', () => {
    scrollIt(seccionPeriodicos);
  });

  btnTarjetas.addEventListener('click', () => {
    scrollIt(seccionTarjetas);
  });

  btnOtros.addEventListener('click', () => {
    scrollIt(seccionOtros);
  });

  btnSeparatas.addEventListener('click', () => {
    scrollIt(seccionSeparatas);
  });
</script>
